*{
    /*Eliminamos margenes default del navegador*/
    margin: 0%;
    padding: 0%;
}

h1{
    /*Ubicacion del texto*/
    text-align: center;
    margin: 10vh 0vh;
    
    /*Forma y tamaño del texto*/
    font-family: 'Patua One', cursive;
    color: rgb(87, 86, 84);
    font-weight: 300;
    font-size: 10vh;
    
    /*Otras propiedades*/
    user-select: none;
}

.div1{
    /*Forma y tamaño del recuadro*/
    border: rgb(87, 86, 84) 0.4vh solid;
    border-radius: 5vh;

    /*Color del recuadro*/
    background-color: rgb(170, 169, 169);

    /*Ubicacion del recuadro*/
    text-align: center;
    margin: 0vh 70vh;
}

#barra{
    /*Forma y tamaño del texto*/
    font-size: 2.6vh;

    /*Forma y tamaño de la barra*/
    width: 58vh;
    height: 8.5vh;
    margin-right: 6vh;

    /*Colores de la barra y del texto*/
    background-color: transparent;
    border: none;
    color: rgb(87, 86, 84);

    /*Otros*/
    outline: none;
}

#boton{
    /*Color del texto*/
    color: transparent;

    /*Forma y tamaño del boton*/
    width: 6vh;
    height: 8.5vh;

    /*Imagen del boton*/
    background-image: url(https://images.vexels.com/media/users/3/132068/isolated/preview/f9bb81e576c1a361c61a8c08945b2c48-icono-de-b-squeda-by-vexels.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    /*Colores del boton*/
    background-color: transparent;
    border: none;
    
    /*Otros*/
    outline: none;
}

#texto1{
    /*Ubicacion general de los elementos*/
    margin-left: 73vh;
    margin-top: 2vh;

    /*Forma y tamaño del texto*/
    font-family: 'Lato', sans-serif;
    font-size: 2.8vh;
    font-weight: 900;

    /*Otros*/
    user-select: none;
}

#checkbox{
    display: none;
}

input[type="checkbox"] + label{
    /*Distancia entre checkbox y texto*/
    margin-left: 2vh;

    /*Otros*/
    cursor: pointer;
}

label::before{
    /*Forma y tamaño de la checkbox*/
    display: inline-block;
    border-radius: 1vh;
    height: 3vh;
    width: 3vh;
    content:'';

    /*Colores del checkbox*/
    background-color: rgb(170, 169, 169);
    border: rgb(87, 86, 84) 0.4vh solid;

    /*Ubicacion*/
    vertical-align:middle;
}

input[type=checkbox]:checked + label:before{
    /*Forma y tipo de tilde*/
    content: '✔';
    font-size: 2.5vh;
    font-family: 'Lato', sans-serif;

    /*Colores del checbox y el tilde*/
    background-color: rgb(170, 169, 169);
    color: rgb(87, 86, 84);

    /*Ubicacion del tilde*/
    text-align: center;
    line-height: 3vh;
}

.div2{
    /*Posicion general de los elementos*/
    text-align: center;
    margin-top: 6vh;
}

.botones{
    /*Forma y tamaño de los botones*/
    width: 20vh;
    height: 20vh;
    border: rgb(87, 86, 84) 0.4vh solid;
    border-radius: 2.8vh;

    /*Forma y tamaño del texto*/
    font-size: 3.5vh;
    font-weight: 100;

    /*Color de los botones y del texto*/
    background-color: rgb(170, 169, 169);
    color: rgb(87, 86, 84);

    /*Otros*/
    outline: none;
}

h4{
    /*Posicion del h4*/
    margin-bottom: 3vh;

    /*Forma y tamaño del texto*/
    font-size: 3vh;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    
    /*Otros*/
    user-select: none;
}

#boton-central{
    /*Posicion del boton central*/
    margin: 0vh 2vh;
}

body{
    /*Color de la pagina*/
    background-color: rgb(231, 225, 225);
}