*{
    /*Eliminamos margenes default del navegador*/
    margin: 0%;
    padding: 0%;
}

   h1{
    /*Ubicacion del texto*/
    text-align: center;
    margin: 10vh 0vh;
    
    /*Forma y tamaño del texto*/
    font-family: 'Patua One', cursive;
    color: white;
    font-weight: 200;
    font-size: 10vh;
    
    /*Otras propiedades*/
    user-select: none;
    -webkit-text-stroke: 1px white;
}

.div1{
    /*Forma y tamaño del recuadro*/
    border: black 0.4vh solid;
    border-radius: 5vh;

    /*Color del recuadro*/
    background-color: white;

    /*Ubicacion del recuadro*/
    text-align: center;
    margin: 0vh 50vh;

    /*Propiedades de La Fuente*/
}


#barra{
    /*Forma y tamaño del texto*/
    font-size: 2.6vh;
    font-family: 'Trebuchet MS', sans-serif;
    vertical-align: auto;

    /*Forma y tamaño de la barra*/
    width: 40vh;
    height: 7vh;
    margin-right: 1vh;
    padding-left: 1vh;

    /*Colores de la barra y del texto*/
    background-color: transparent;
    border: solid 1vh black;

    /*Otros*/
    outline: none;
}

#boton{
    /*Color del texto*/
    color: transparent;

    /*Forma y tamaño del boton*/
    width: 6vh;
    height: 6vh;

    /*Imagen del boton*/
    background-image: url(https://images.vexels.com/media/users/3/132068/isolated/preview/f9bb81e576c1a361c61a8c08945b2c48-icono-de-b-squeda-by-vexels.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    /*Colores del boton*/
    background-color: transparent;
    border: none;
    
    /*Otros*/
    outline: none;
    margin-top: 2vh;
}

/*ESTO NO DEBERIA SER ASI. LO IDEAL SERIA CAMBIARLO.*/

#boton1{
    display:none;

}

#boton2{
    display:none;
}

#boton3{
    display:none;
}

#etiqueta1{
    
     /*Texto del label*/
    user-select: none;
    font-size: 4vh;
    color: green;    
    /*Ubicación del texto en el label*/
    vertical-align: middle;
    display: table-cell;
    
    /*Fondo del label*/
    background-color: black;

    /*Bordes del label*/
    border-radius: 2vh;
    border: solid 1vh green;

    /*Tamaño del Label*/
    width: 20vh;
    height: 12vh;
}

#etiqueta1:hover{
    color:black;
    background-color: green;
    border-color:black;
}

#etiqueta2{
    
    /*Texto del label*/
    user-select: none;
    font-size: 4vh;
    color: orange;    
    /*Ubicación del texto en el label*/
    vertical-align: middle;
    display: table-cell;
    
    
    /*Fondo del label*/
    background-color: black;

    /*Bordes del label*/
    border-radius: 2vh;
    border: solid 1vh orange;
    margin-left:5vh;
    margin-right:5vh;

    /*Tamaño del Label*/
    width: 20vh;
    height: 12vh;
}

#etiqueta2:hover{
    color:black;
    background-color: orange;
    border-color:black;
}

#etiqueta3{
    
    /*Texto del label*/
    user-select: none;
    font-size: 4vh;
    color: red;    
    /*Ubicación del texto en el label*/
    vertical-align: middle;
    display: table-cell;

    
    
    /*Fondo del label*/
    background-color: black;

    /*Bordes del label*/
    border-radius: 2vh;
    border: solid 1vh red;

    /*Tamaño del Label*/
    width: 20vh;
    height: 12vh;
}

#etiqueta3:hover{
    color:black;
    background-color: red;
    border-color:black;
}

#texto1{
    /*Ubicacion general de los elementos*/
    
    margin-top: 5vh;

    /*Forma y tamaño del texto*/
    font-family: 'Lato', sans-serif;
    font-size: 2.8vh;
    font-weight: 900;
    color: black;
    padding-right:-500vh;
    

    /*Otros*/
    user-select: none;
}

input[type="text"],[name="busqueda"]{
     border: black 0.4vh solid;
    border-radius: 5vh;
}

#checkbox{
    display:none;
}

input[type="checkbox"] + label{
    /*Distancia entre checkbox y texto*/
    margin-left: 2vh;

    /*Otros*/
    cursor: pointer;
    margin:2vh;
}

label::before{
    /*Forma y tamaño de la checkbox*/
    display: inline-block;
    border-radius: 1vh;
    height: 3vh;
    width: 3vh;
    content:'';

    /*Colores del checkbox*/
    background-color: white;
    border: rgb(87, 86, 84) 0.4vh solid;

    /*Ubicacion*/
    vertical-align:middle;
}

input[type="checkbox"]:checked + label:before{
    /*Forma y tipo de tilde*/
    content: '✔';
    font-size: 2.5vh;
    font-family: 'Lato', sans-serif;

    /*Colores del checbox y el tilde*/
    background-color: white;
    color: #008000;

    /*Ubicacion del tilde*/
    text-align: center;
    line-height: 3vh;
}

.div2{
    /*Posicion general de los elementos*/
    text-align: center;
    margin-top: 6vh;
}

.especial{
    /*Forma y tamaño de los botones*/
    font-family: 'Lato', sans-serif;
    width: 60vh;
    height: 10vh;
    border: cyan 1vh solid;
    border-radius: 2.8vh;

    /*Forma y tamaño del texto*/
    font-size: 4vh;
    font-weight: 100;

    /*Color de los botones y del texto*/
    background-color: white;

    /*Otros*/
    outline: none;
    margin-top:1%;
}


input[Value="¡Ver todas las recetas!"]{
    background-color:black;
    color:cyan;
    -webkit-text-stroke: 0.2px white;
    margin-bottom:2vh;
}

input[Value="¡Ver todas las recetas!"]:hover{
    color:black;
    background-color: cyan;
    -webkit-text-stroke: 1px black;
    border-color:black;
}

h4{
    /*Posicion del h4*/
    margin-bottom: 3vh;

    /*Forma y tamaño del texto*/
    font-size: 4vh;
    font-weight: 900;
    font-family: 'Trebuchet MS', sans-serif;

    
    /*Otros*/
    user-select: none;
}

body{
    background-color: rgb(93, 93, 93);
 

}

