*{
    margin: 4vh 0 0 0;
    background-color: black;
}

.div1{
    
    user-select: none;
    background: #E8E8E0;
}

h1{
    line-height: 30vh;
    font-size: 10vh; 
}

#barra{
    /*Forma y tama単o de la caja*/
    width: 50vh;
    height: 8vh;
    border-bottom-left-radius: 1.5vh;
    border-top-left-radius: 1.5vh;
    outline: none;

    /*Color de la caja y del texto*/
    background: linear-gradient(#262626,#000000,#262626);
    border: grey thin solid;
    color: grey;
    
    /*Forma y tama単o del texto*/
    font-size: 2.5vh;
    text-indent: 2vh;
    
}

#boton-barra{
    /*Forma y tama単o de la caja*/
    width: 12vh;
    height: 8.2vh;
    border-bottom-right-radius: 1.5vh;
    border-top-right-radius: 1.5vh;
    border-left: none;
    outline: none;

    /*Color de la caja*/
    background: linear-gradient(#262626,#000000,#262626);
    border: grey thin solid;
    color: grey;

    /*Forma y tama単o del texto*/
    font-size: 2.5vh;
    text-align: left;
    text-indent: 2vh;
}
