
a{
    /*Margenes del titulo*/
    margin: 2.5vh 2vh;
    display:inline-block;
    padding-left: 17.5vh;
    padding-right: auto;
    float:center;
    

    /*Propiedades del texto*/
    font-family: 'Patua One', cursive;
    font-weight: 500;
    font-size: 2,5vh;
    text-align: center;
  }

h1{
    /*Margenes del titulo*/
    margin: 4vh 2vh;
    margin-left: auto;
    margin-right: auto;

    /*Propiedades del texto*/
    font-family: 'Patua One', cursive;
    font-weight: 500;
    font-size: 4.5vh;
    text-align:center;
}

div{
    /*Ubicacion del contendor*/
    margin: auto;
    margin-bottom: 1.2vh;
    margin-left: auto;
    margin-right: auto;

    /*Color del contenedor*/
    background-color: rgb(223, 223, 223);

    /*Color y forma del borde*/
    border: rgb(87, 86, 84) 0.4vh solid;
    border-radius: 3.0vh;
    height: 25vh;
    width: 90vh;
    
    /*Color del texto del contenedor*/
    color: rgb(27, 27, 27);

    /*Otros*/
    user-select: none;
}

body {
    background-color: rgb(231, 225, 225);
  }
  input[type="text"], input[type="password"]{ 
    outline: none; 
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
  }
  input[type="submit"] {
    padding: 10px;
    color: #fff;
    background: #0098cb;
    width: 320px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #00b8eb;
  }
  header {
    border-bottom: 2px solid #eee;
    padding: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  header a {
    text-decoration: none;
    color: #333;
  }
}


