

body {
    background-color: rgb(93, 93, 93);
}

  div{
    margin-top: 20vh;
  }

  /*Hipervinculo*/
  a{
    font-family: 'Lato', sans-serif;
    width: 60vh;
    height: 10vh;
    border: cyan 1vh solid;
    border-radius: 2.8vh;
    padding-left:5vh;
    padding-right:5vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
    -webkit-text-stroke: 1px black;

    /*Forma y tamaño del texto*/
    font-size: 4vh;
    font-weight: 100;

    /*Color de los botones y del texto*/
    color:black;
    background-color: white;

    /*Otros*/
    outline: none;
    margin-top:1%;
  }

  a:hover{
    color:black;
    background-color: cyan;
    -webkit-text-stroke: 1px black;
    border-color:black;
  }

  /*Titulo*/
  h1{
  /*Margenes del titulo*/
    margin: 4vh 2vh;
    margin-left: auto;
    margin-right: auto;

    /*Propiedades del texto*/
    font-family: 'Patua One', cursive;
    font-weight: 500;
    font-size: 4.5vh;
    -webkit-text-stroke: 0.4px white; /* borde */
    text-align:center;
  }

  header {
    border-bottom: 2px solid #eee;
    padding: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  header a {
    text-decoration: none;
    color: #333;
  }
