

body {
    background-color: rgb(93, 93, 93);
}

  div{
    padding-left: 24%;
    margin-top: 20vh;
  }

  /*Hipervinculo*/
  a{
  background: red;
  text-align: center;
  border-radius: 5px;
  padding-right:120px;
  padding-left:120px;
  padding-top:8px;
  padding-bottom:8px;
  font-family: 'Patua One', cursive;
  color: white;
  font-size: 4vh;
  -webkit-text-stroke: 1px black;
  }

  /*Titulo*/
  h1{
  /*Margenes del titulo*/
    margin: 4vh 2vh;
    margin-left: auto;
    margin-right: auto;

    /*Propiedades del texto*/
    font-family: 'Patua One', cursive;
    font-weight: 500;
    font-size: 4.5vh;
    -webkit-text-stroke: 1px white; /* width and color */
    text-align:center;
  }

  input[type="text"], input[type="password"]{ 
    outline: none; 
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 8px;
    border: 1px solid #eee;
    margin: 20px auto;
  }
  input[type="submit"] {
    font-family: 'Patua One', cursive;
    font-size: 3vh;
    color: #fff;
    background: #000000;
    width: 340px;
    height: 50px;
    border-radius: 5px;
    border-color:#000000;
    margin-bottom: 5vh;
    cursor: pointer;
    -webkit-text-stroke: 1px gray;
  }

  input[type="submit"]:hover {
    background-color: white;
    -webkit-text-stroke: 1px green;
    ;
  }

  header {
    border-bottom: 2px solid #eee;
    padding: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  header a {
    text-decoration: none;
    color: #333;
  }
